{% extends 'base.html' %}
{% block content %}
<div style="max-width: 400px; margin: 50px auto; background: #1A202C; border: 1px solid #FC8181; padding: 40px; text-align: center;">
    <h2 style="color: #FC8181; text-transform: uppercase; margin-bottom: 30px;">New Password</h2>
    <form method="POST">
        <input type="password" name="password" placeholder="Enter New Password" required style="width: 90%; padding: 15px; margin-bottom: 25px; background: #0F131A; border: 1px solid #2D3748; color: white; font-size: 1.1em; outline: none;">
        <button type="submit" style="width: 100%; padding: 15px; background: #FC8181; color: #1A202C; border: none; font-weight: bold; font-size: 1.2em; cursor: pointer; text-transform: uppercase;">Save Password</button>
    </form>
</div>
{% endblock %}